@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.about{
    font-family: 'Montserrat', sans-serif ;
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
    scroll-snap-type: y mandatory;

}
.child{
    scroll-snap-align: start;

}
.text-a{
    width: 50%;
    padding: 5rem;
    font-size: 2.5rem;
    text-align: justify;
}

.curr{
    text-align: justify;
    float: right;
    text-align-last: right;
}

.fancy{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 3.6rem;
    margin-bottom: 0;
}