.hero-text{
    font-size: 2rem;
    color:blue;
}

.big-container{
    height: 100%;
}

.canv-wrap{
    height: 80vh;

}

.descr{
    height: 20%;
    width: 80%;
    padding-left: 7rem;
    padding-right: 7rem;
    font-family: 'Montserrat', sans-serif ;
    display: flex;
    flex-direction: column;
}

.demos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-wrap{
    width: 80%;
    padding-top: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    display: flex;
    justify-content: space-between;
}

.cont{
    text-decoration: none;
    color: black;
}

.cont:hover{
    color: #ff90cc;
}

.upd{
    display: flex;
    justify-content: flex-end;
    font-size: smaller;
    
}

@media screen and (max-width: 480px){
    .descr{
        width: 90%;
        padding-left: 1rem;
        padding-right: 1rem;
    }  

    .demos{
        flex-direction: column;
        align-items: center;
    }
    .contact-wrap{
        flex-wrap: wrap;
        padding-right: 0;
        padding-left: 2.5rem;
        padding-bottom: 3rem;
    }
    .canv-wrap{
        overflow: hidden;
        height: 60%;
    }
    
}
