.menu-wrap{
    position:fixed;
    height: 5%;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}

.menu-icon{
    height: 3rem;
    margin: 2rem;
}