.menu-wrap{
    position:fixed;
    height: 5%;
    width: 100%;
    top:0;
    z-index: 10;
    cursor: pointer;
}

.menu-icon{
    height: 3rem;
    margin: 2rem;
    float: right;
    transition-duration: 0.8s;
    transition-property: transform;
}

.menu-icon:active, .menu-icon:hover{
    transform: rotate(360deg);
}

:root{
    --light-blue: #37d0e1;
    --pink: #FF90CC;
    --purple: #945af1;
}



.NavLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100%;
    background:#f0f0f0;
    cursor: crosshair;
    z-index: 5;
}

.menu-link{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Syncopate', sans-serif ;
    font-size: clamp(2em, 8vh, 7em);
    padding: clamp(0.25em, 1vw, 1em) clamp(1em, 4vw, 4em);
    position: relative;
}

.menu-link:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.menu-link:hover{
    font-style: italic;
    color: var(--pink);
}