@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.container-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.marq{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;    
}

.pink{
    background-color: #FF90CC;
}
.blue{
    background-color: #37CFE1;
}

.stella{
    height: 2rem;
}

.synco{
    font-family: 'Syncopate', sans-serif ;
}

.rota{
    rotate: 0deg;
}

.works{
    font-family: 'Montserrat', sans-serif ;
}


.text-sc{
    width: 50%;
    padding: 5rem;
    font-size: 2.5rem;
    text-align: justify;
}

.peak{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    padding: 5rem;
    font-size: 3rem;
    text-align: justify;
    float: right;
    
}